.contact {
  width: 100%;
  padding: 4rem 0;

  &__title {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--secudaryColor);
    margin: 1rem 0;
  }

  &__map {
    width: 100%;
  }
  button {
    cursor: pointer;
  }
  #map {
    height: 285px;
    border-radius: 5px;
    overflow: hidden;
    // filter: grayscale(100);
  }
}