.products {
  width: 100%;
  // height: 400px;
  position: relative;
  padding: 3rem 0;

  
  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: -16px;
  //   left: 0;
  //   width: 100%;
  //   height: 16px;
  //   background: url('../images/bg-top-products.png');
  // }


  &__content {
    display: grid;
    grid-gap: .5rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);

  }


  
  @media only screen and(max-width: 1023px){
    
    &__content {
      grid-template-columns: repeat(3,1fr);
    }
  }
  @media only screen and(max-width: 600px){
    
    &__content {
      grid-template-columns: repeat(2,1fr);
    }
  }

  .product {
    margin-top: 1rem;
    transition: all .3s;
    
    &__thumb {
      overflow: hidden;
      img {
        width: 100%;
        transition: all .3s;
      }
    }

    &__description {
      width: 100%;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
      }
     
    }

    &:hover{

      .product__thumb {
        img {
          transform: scale(1.1);
        }
      }
      .product__description {
        h1 {
          color: var(--primaryColor);
        }
      }
    }
  }

  .read__more {
    display: block;
    margin: 1rem auto;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-right: -.5rem;
    color: var(--primaryColor);
    &:hover {
      color: var(--primaryColor);
    }
    img {
      margin-left: -2rem;
      transition: all .3s;
      opacity: 0;
    }
    &:hover img {
      opacity: 1;
      margin-left: .5rem;
    }
  
  }
}