.slider {
  width: 100%;
  // height: 600px;
  background: url('../images/slider-bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 7rem 0 2rem 0;

  &__content {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    
  }
  &__item {
    width: 100%;
    display: flex!important;
    justify-content: space-between;

      img {
        width: 100%;
      }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    align-items: flex-end;
    padding: 0 1.5rem;

    h1 {
      font-size: 2.5rem;
      color: #fff;
      font-weight: 600;
      text-align: right;
      line-height: 2.5rem;
      margin: 1rem 0;
    }
    
    .btn-slider {
      @include btn(#fff, #fff, transparent, #fff,#fff, var(--primaryColor));
      margin: 0;
    }



  }
  &__thumb {
    width: 100%;
    text-align: center;
    img {
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
    }
  }

  @media only screen and(max-width: 1023px){
    &__content {
      min-height: auto;
      padding-bottom: 1rem;
    }
    &__copy {
      h1 {
        font-size: 1.2rem;
        line-height: 1rem;
      }
      .btn-slider {
        font-size: .8rem;
        padding: .4rem 1rem;
      }
    }

    &__thumb {
      img {
        max-width: 100px;
      }
    }
  }
}