@import 'mixins';
@import 'header';
@import 'slider';
@import 'products';
@import 'benefits';
@import 'videos';
@import 'aboutus';
@import 'contact';

@import 'footer';


:root {
  --primaryFont: 'Raleway', sans-serif;

  --white: #fff;
  --primaryColor: #2378FF;
  // --primaryColor: #0066C8;
  --primaryColorHover: #115ED8;
  --secundaryColor: #5D6A80;

  --wrapperSpace: 1.5rem;
}
html { overflow: auto; }

body {
  font-family: 'Raleway', sans-serif;
  color: var(--secundaryColor);
  font-family: var(--primaryFont);
  font-size: 1em;
}
a:focus {
  outline: none;
}
button:focus {
  outline: none;
}

.sticky {
  background: var(--primaryColor);
  padding: .5rem 0;
  box-shadow: 1px 1px 3px rgba(#000,.5);
}
#brand-logo {
  animation: all .2s;
}

.form-error {
  font-size: .7rem;
  color: red;
}

.after-wave {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 16px;
    background: url('../images/bg-top-products.png');
  }

}

.activo {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 7px;
    position: absolute;
    background: url('../images/line.png');
    // background-size: contain;
    background-position: center;
    bottom: 0;
    left: 0%;
    transition: all .3s;
  }
}

// custom slick   
.slick-slide {
  outline: none;
}
.slick-dots li button {
  &:before {
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    // border: 1px solid #fff;
    border-radius: 50%;
    // box-sizing: border-box;
  }
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #fff;
}

// mixin  btn(
//   border color, 
//   background left,
//   background right,
//   background hover,
//   color hover
// )  

.btn-gelato {
  @include btn(var(--primaryColor), var(--primaryColor), transparent, var(--primaryColor), var(--primaryColorHover),#fff);
}




.wrapper {
  padding: 0 var(--wrapperSpace);
  max-width: calc(1115px + 1.5rem);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @media only screen and (max-width: 1023px){
    width: 100%;
    padding: 0 var(--wrapperSpace);
  }
  @media only screen and(max-width: 600px){
    width: 100%;
    padding: 0 var(--wrapperSpace);
  }
}